$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$headerBackground: #ECF0F1;
$jacobshackBlue: #07457B;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  // color: #777;
  // border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// Button override
// ------------------------------------------

$btn-primary-color: $jacobshackBlue;
$btn-primary-bg: transparent;
$btn-primary-font-hover: #fff;

@mixin button-variant-flat($color, $background, $backgroundFont) {
  color: $color;
  background-color: $background;
  border-color: $color;
  border-radius: 0;
  border-width: 2px;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $backgroundFont;
    background-color: $color;
        border-color: $color;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $background;
      background-color: lighten($color, 20%);
          border-color: lighten($color, 20%);
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn-default {
  @include button-variant-flat(#fff, transparent, $jacobshackBlue);
}
.btn-primary {
  @include button-variant-flat($jacobshackBlue, transparent, #fff);
}

// Success appears as green
.btn-success {
  @include button-variant-flat($btn-success-bg, transparent, #fff);
}
// Info appears as blue-green
.btn-info {
  @include button-variant-flat($btn-info-bg, transparent, #fff);
}
// Warning appears as orange
.btn-warning {
  @include button-variant-flat($btn-warning-bg, transparent, #fff);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant-flat($btn-danger-bg, transparent, #fff);
}



// End of Button override
// -----------

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  padding: 0;
}

@keyframes lightningAnimation {
  0% {
    opacity: 0;
  }
  
  10% {
    width: 15%;
    opacity: 1;
    transform: translateX(-45%) translateY(-30%);
  }
  
  90% {
    width: 10%;
    transform: translateX(-45%) translateY(8%);
  }
  
  99% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes logoAppearance {
  0% {
    opacity: 0;
  }
  
  90% {
    opacity: 0;
  }
  
  95% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes logoDisappearance {
  0% {
    opacity: 1;
  }
  
  95% {
    opacity: 1;
  }
  
  99% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

$animationDuration: 3s;

header {
  min-height: 100vh;
  background: $headerBackground;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  
  .wrapper {
    
    .header-buttons {
      .col-xs-12 {
        padding: 0;
      }
      
      .indent {
        padding-left: 2.5px;
        padding-right: 2.5px;
      }
      
      .social-button-left, .social-button-right {
        margin-top: 5px;
        padding-right: 2.5px;
        padding-left: 2.5px;
        
        .social-addon {
          font-family: 'Source Code Pro', monospace;
        }
      }
    }
  }
}

#logoContainer {
  position: relative;
  
  #emptyLogo {
    position: absolute;
    opacity: 0;
    animation: logoDisappearance $animationDuration ease 0s;
    animation-fill-mode: forwards;
  }
  
  #lightningLogo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10%;
    transform: translateX(-45%) translateY(8%);
    animation: lightningAnimation $animationDuration ease 0s;
  }
  
  #finalLogo {
    animation: logoAppearance $animationDuration ease 0s;
    animation-fill-mode: forwards;
  }
}

section {
  padding-top: 10px;
  padding-bottom: 30px;
  &.light {
    
  }
  
  &.dark {
    color: #fff;
 	  background: $jacobshackBlue; 
  }
}

footer {
  p {
    margin: 0;
    
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  a {
    &:hover, &:visited, &:focus {
      color: #fff;
    }
  }
   
  color: #fff;
  background: $jacobshackBlue;
  margin: 0;
  
  .jh-footer-logo {
    padding-bottom: 0;
    img {
      width: 80px;
    }
  }
}

.btn-round-social {
  background: $headerBackground;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  
  > i.fa.fa-lg {
    vertical-align: super; // center icons in round button  
  }
  
  &.btn-github {
    @include button-variant-flat(#333333, transparent, $headerBackground);
  }
  
  &.btn-twitter {
    @include button-variant-flat(#55acee, transparent, $headerBackground);
  }
  
  &.btn-mail {
    @include button-variant-flat($jacobshackBlue, transparent, $headerBackground);
  }
  
  &.btn-facebook {
    @include button-variant-flat(#3b5998, transparent, $headerBackground);
  }
  
  border-radius: 100% !important;
}

.team-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  
  .team-member-wrapper {
    width: 320px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
    .team-member {
      background: $headerBackground;
      overflow: hidden;
      position: relative;
      
      .team-member-header {
        height: 100px;
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 1px 5px #333;
        
        img.header-blur {
          filter: blur(5px);
        }
      }
      
      img.team-member-img {
        width: 150px;
        height: 150px;
        top: 25px;
        left: 50%;
        margin-left: -75px;
        border: 1px solid #333;
        box-shadow: 0px 4px 5px #888;
        
        position: absolute;
        z-index: 3;
      } 
      
      .team-member-details {
        padding-top: 85px;
        padding-bottom: 10px;
        z-index: 2;
        color: #555;
        
        .team-member-name {
          color: #000;
          font-size: 1.5em;
        }
        
        .team-member-role {
          font-size: 1.2em;
        }
        
        .team-member-contact {
          width: 150px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: flex-start;
          align-content: flex-start;
        }
        
      }
    }
  }
}

.about-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  
  > .about-entry {
    color: #000;
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    background: $headerBackground;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
    
    .about-entry-header {
      height: 200px;
      overflow: hidden;
    }
    
    .about-entry-icon {
      border-radius: 100%;
      background: $headerBackground;
      position: absolute;
      width: 75px;
      height: 75px;
      margin-left: -37.5px;
      left: 50%;
      margin-top: -37.5px;
      
      > span {
        color: $jacobshackBlue;
        line-height: 1.75;  
      }
    }
    
    h3 {
      margin-top: 40px;
    }
    
    p {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

section > div {
  overflow: hidden;
}

.section-title {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
  text-transform: uppercase;
  z-index: 1;
  
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 5em;
  transition: color 0.5s;
  
  &:hover, &.active {
    color: #ccc;
  }
  
  &::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 100%;
    top: 50%;
    margin-top: -18px;
    left: -10%;
    z-index: 0;
    background: #f9f9f9;
    transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    transition: transform 0.5s;
  }
  
  &:hover::before, &.active::before {
    transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
  }
  
  span {
    text-transform: none;
    font-size: 20%;
    font-weight: 400;
    position: absolute;
    color: red;
    bottom: 0;
    opacity: 0;
    transform: translate3d(-10px,-10px,0);
    transition: transform 0.5s, opacity 0.5s;
    z-index: 2;
  }
  
  &:hover span, &.active span {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

section.light {
  .section-title {
    color: $jacobshackBlue;
    
    &:hover, &.active {
      color: $jacobshackBlue;
    }
    
    &::before {
      background: rgba(0,0,0,0.1);
    }
    
    span {
      color: #478CC7;
    }
  }
}

section.dark {
  .section-title {
    color: #fff;
    
    &:hover, &.active {
      color: #fff;
    }
    
    &::before {
      background: rgba(255,255,255,0.5);
    }
    
    span {
      color: #fff;
    }
  }
}

@media screen and (max-width: 670px) {
  .section-title {
    font-size: 3em;
  }
}

.nav-jacobshack {
  li {
    font-size: 20px;
    a, a:visited, a:hover, a:focus {
      color: $jacobshackBlue;
    }
    &.active, &.active:hover, &.active:focus {
      background: $jacobshackBlue;
      
      a, a:visited, a:hover, a:focus {
        background: $jacobshackBlue;
        color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-jacobshack li {
    display: table-cell;
    width: 1%;
  }
}

#faqContainer {
  #faqContent {
    background: $jacobshackBlue;
    color: #fff;
    .faq-category {
      padding: 10px;
      &:not(.active) {
        display: none;
      }
      
      .faq-entry > * {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.subheading {
  font-weight: lighter;
  font-size: 42px;
  margin-bottom: 20px;
}

.partner-entry {
  padding-left: 20px;
  padding-right: 20px;
  
  img {
    max-height: 160px;
    max-width: 100%;
  }
}