$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$headerBackground: #ECF0F1;
$jacobshackBlue: #07457B;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  // color: #777;
  // border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// Button override
// ------------------------------------------

$btn-primary-color: $jacobshackBlue;
$btn-primary-bg: transparent;
$btn-primary-font-hover: #fff;

@mixin button-variant-flat($color, $background, $backgroundFont) {
  color: $color;
  background-color: $background;
  border-color: $color;
  border-radius: 0;
  border-width: 2px;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $backgroundFont;
    background-color: $color;
        border-color: $color;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $background;
      background-color: lighten($color, 20%);
          border-color: lighten($color, 20%);
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn-default {
  @include button-variant-flat(#fff, transparent, $jacobshackBlue);
}
.btn-primary {
  @include button-variant-flat($jacobshackBlue, transparent, #fff);
}

// Success appears as green
.btn-success {
  @include button-variant-flat($btn-success-bg, transparent, #fff);
}
// Info appears as blue-green
.btn-info {
  @include button-variant-flat($btn-info-bg, transparent, #fff);
}
// Warning appears as orange
.btn-warning {
  @include button-variant-flat($btn-warning-bg, transparent, #fff);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant-flat($btn-danger-bg, transparent, #fff);
}



// End of Button override
// -----------

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  padding: 0;
}

@keyframes lightningAnimation {
  0% {
    opacity: 0;
  }
  
  10% {
    width: 15%;
    opacity: 1;
    transform: translateX(-45%) translateY(-30%);
  }
  
  90% {
    width: 10%;
    transform: translateX(-45%) translateY(8%);
  }
  
  99% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes logoAppearance {
  0% {
    opacity: 0;
  }
  
  90% {
    opacity: 0;
  }
  
  95% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes logoDisappearance {
  0% {
    opacity: 1;
  }
  
  95% {
    opacity: 1;
  }
  
  99% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

$animationDuration: 3s;

header {
  min-height: 100vh;
  background: $headerBackground;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  
  .wrapper {
    
    .header-buttons {
      .col-xs-12 {
        padding: 0;
      }
      
      .indent {
        padding-left: 2.5px;
        padding-right: 2.5px;
      }
      
      .social-button-left, .social-button-right {
        margin-top: 5px;
        padding-right: 2.5px;
        padding-left: 2.5px;
        
        .social-addon {
          font-family: 'Source Code Pro', monospace;
        }
      }
    }
  }
}

#logoContainer {
  position: relative;
  
  #emptyLogo {
    position: absolute;
    opacity: 0;
    animation: logoDisappearance $animationDuration ease 0s;
    animation-fill-mode: forwards;
  }
  
  #lightningLogo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10%;
    transform: translateX(-45%) translateY(8%);
    animation: lightningAnimation $animationDuration ease 0s;
  }
  
  #finalLogo {
    animation: logoAppearance $animationDuration ease 0s;
    animation-fill-mode: forwards;
  }
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  &.light {
    
  }
  
  &.dark {
    color: #fff;
 	  background: $jacobshackBlue; 
  }
}

footer {
  p {
    margin: 0;
    
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  a {
    &:hover, &:visited, &:focus {
      color: #fff;
    }
  }
   
  color: #fff;
  background: $jacobshackBlue;
  margin: 0;
}

.btn-round-social {
  background: $headerBackground;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  
  > i.fa.fa-lg {
    vertical-align: super; // center icons in round button  
  }
  
  &.btn-github {
    @include button-variant-flat(#333333, transparent, $headerBackground);
  }
  
  &.btn-twitter {
    @include button-variant-flat(#55acee, transparent, $headerBackground);
  }
  
  &.btn-mail {
    @include button-variant-flat($jacobshackBlue, transparent, $headerBackground);
  }
  
  &.btn-facebook {
    @include button-variant-flat(#3b5998, transparent, $headerBackground);
  }
  
  border-radius: 100% !important;
}

.team-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  
  .team-member-wrapper {
    width: 320px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
    .team-member {
      background: $headerBackground;
      overflow: hidden;
      position: relative;
      
      .team-member-header {
        height: 100px;
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 1px 5px #333;
        
        img.header-blur {
          filter: blur(5px);
        }
      }
      
      img.team-member-img {
        width: 150px;
        height: 150px;
        top: 25px;
        left: 50%;
        margin-left: -75px;
        border: 1px solid #333;
        box-shadow: 0px 4px 5px #888;
        
        position: absolute;
        z-index: 3;
      } 
      
      .team-member-details {
        padding-top: 85px;
        padding-bottom: 10px;
        z-index: 2;
        color: #555;
        
        .team-member-name {
          color: #000;
          font-size: 0.8em;
        }
        
        .team-member-role {
          font-size: 0.6em;
        }
        
        .team-member-contact {
          width: 150px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: flex-start;
          align-content: flex-start;
        }
        
      }
    }
  }
}