mixin whatIsItem(icon, headline)
  .col-sm-3
    .well
      span.itemsIcon(class=icon)
      h3!= headline
      if block
        block

.row
  .col-xs-12
    h1#about What is jacobsHack!?
    p.lead.
      jacobsHack! is a student-run hackathon at the international
      Jacobs University Bremen in Germany. To be precise this is what
      awaits you:

.row
  +whatIsItem('fa fa-clock-o', '24 hours of hacking!')
    p
      | You have this project you always wanted to code
      | but you never found time to? Or a functionality you
      | wanted to add to an existing project? In these 24 hours
      | you can work on what ever you feel like. The only
      | condition is:
      em  You will be only judged on what you wrote within the 24 hours
  +whatIsItem('fa fa-users', '+100 fellow hackers')
    p
      | You can the opportunity to meet fellow programmers from
      | all over the world, exchange your knowledge or even
      | find your future business partner with whom you will found
      | your first start-up.
  +whatIsItem('fa fa-trophy', '+2000&euro; in prizes')
    p
      | Have the chance to win with your project one of our in total
      | more than 2000&euro; worth of prizes and get eternal fame
      | by being the winner of the first major jacobsHack! hackathon.
  +whatIsItem('fa fa-comments-o', 'Recruting opportunities')
    p
      | Get in touch with the recruiters of some of our sponsoring
      | companies and get the change to exchange contact information
      | or even directly interview with some of them.

