.row
  .col-xs-12
    h1#about About
    p.
      "I Hack, Therefore I Am!". Under this slogan the foundation for jacobsHack! was laid when on Feb 1, 2014 the students of 
      Jacobs University met to code for 19 hours on whatever project they considered interesting. On
      October 4th, 2014 we then took the next step and opened jacobsHack! for external students. In 
      total 85 students from 30 nations participated at jacobsHack! Fall creating one of the most
      culturally diverse hackathons in Europe.
    p.
      This year we are returning aiming to create one of the greatest and the most diverse hackathon
      in Europe. Bigger and more exiting then before while sticking to our initial motto:
    p.lead.text-center.
      I Hack, Therefore I Am!  
      
    