mixin aboutEntry(image, icon, title)
  .about-entry
    .about-entry-header
      img.img-responsive(src=image)
    .about-entry-icon
      span(class=icon)
    h3= title
    block

.row
  .col-xs-12
    h1#about.section-title
      | About
      span jacobsHack!
    p.lead.
      "I Hack, Therefore I Am!". Under this slogan the foundation for jacobsHack! was laid when on Feb 1, 2014 the students of 
      Jacobs University met to code for 19 hours on whatever project they considered interesting. On
      October 4th, 2014 we then took the next step and opened jacobsHack! for external students. In 
      total 85 students from 30 nations participated at jacobsHack! Fall creating one of the most
      culturally diverse hackathons in Europe.
    p.lead.
      This year we are returning aiming to create one of the greatest and the most diverse hackathon
      in Europe. Bigger and more exiting then before while sticking to our initial motto:
    h2.text-center.
      I Hack, Therefore I Am!  

    h2#aboutJacobsHack What is jacobsHack!?
    .about-entries
      +aboutEntry("images/about-entries/hacking.jpg", "fa fa-3x fa-clock-o", "24h of hacking")
        p
          | You have this project you always wanted to code but you never found the time for? 
          | Now you have the chance to dedicate 24 hours on this project. 
          | The only condition is: &nbsp;
          em You will only be judged on what you wrote within these 24 hours
      +aboutEntry("images/about-entries/meet-fellow-hackers.jpg", "fa fa-3x fa-users", "Meet fellow hackers!")
        p.
          You have the opportunity to meet fellow programmers from all over the world, 
          exchange your knowledge or even find your future business partner with whom 
          you will found your first start-up.
      +aboutEntry("images/about-entries/hacking.jpg", "fa fa-3x fa-trophy", "Prizes and Freebies")
        p.
          Thanks to our sponsors you will have the chance to win a variety of awesome
          prizes and even if you don't win we can promise you you won't leave empty handed!
      +aboutEntry("images/about-entries/career-opportunities.jpg", "fa fa-3x fa-comments-o", "Career Opportunities")
        p.
          Get the opportunity to meet some of the engineers and recruiters of our sponsors,
          make contacts and get the chance to potentially interview with some of them.
	      
    h2#aboutJacobs Where Does jacobsHack! Take Place? 
    p.lead
      | jacobsHack! takes place on the campus of the internation university &nbsp;
      a(href="https://jacobs-university.de/", target="_blank", alt="Jacobs University Bremen") Jacobs University Bremen
      | &nbsp; in Bremen, Germany. The campus is home of over 600 Bachelor students and in total over 1200 students
      | representing 114 nations creating a truely diverse experience that we will try to deliver to the
      | participants of jacobsHack!

    