mixin jacobsHack()
  span.jacobsHackText
    | jacobs
    em Hack!

mixin faqEntry(question)
  .col-lg-4.col-md-6.faqEntry
    h4.questionHeadline= question
    if block
      block

script(src="/Scripts/jquery.timeago.js")

.row
  .col-xs-12
    h1#faq Frequently Asked Questions

  +faqEntry('Where does jacobsHack! take place?')
    p
      em
      +jacobsHack()
      | &nbsp;will take place on the campus of&nbsp;
      a(href="https://jacobs-university.de/visit" target="_blank") Jacobs University
      | &nbsp;Bremen, Germany

  +faqEntry('I will have already graduated from university. Can I participate?')
    p
      | No,&nbsp;
      +jacobsHack()
      | &nbsp;is meant for university and high school students. You have to be enrolled in an educational facility to be able to participate.

  +faqEntry('I am still in high school. Can I participate?')
    p
      | Yes!&nbsp;
      +jacobsHack()
      | &nbsp;is open to university and high school students. The most important thing is that you bring passion and have fun!
    p
      | If you are still under 18, your parents will have to sign a form of consent for us.

  +faqEntry('How much does registration cost?')
    p
      | Nothing.

  +faqEntry('Will travel expenses be reimbursed?')
    p
      | For some people travel expenses for a 2nd class public transport ticket up to 50&euro; will be reimbursed.

  +faqEntry('What do I need to bring?')
    p
      | Enthusiasm. Basic toiletries and a sleeping bag in case you are planning to sleep might be useful as well!
    p
      | Food will be provided during the event. Please make sure to mention special dietary requirements in your registration.

  +faqEntry('When does registration start?')
    p
      | Soon! If you want to be notified once registration starts please leave your email and we will notify you once we start.

  +faqEntry('I want to support the event!')
    p
      | Wonderful just send us an email to get more information. Email: &nbsp;
      a(href="mailto:sponsor@jacobshack.com") sponsor@jacobshack.com


  +faqEntry('I have another question!')
    p
      | We got you covered. Email us at&nbsp;
      a(href="mailto:team@jacobshack.com") team@jacobshack.com

