mixin faqEntry(question)
  .col-lg-4.col-md-6.faqEntry
    h4.questionHeadline= question
    if block
      block

.row
  .col-xs-12
    h1#faq Frequently Asked Questions

  +faqEntry('Where does jacobsHack! take place?')
    p
      em jacobsHack! &nbsp;
      | will take place on the campus of Jacobs University
      | Bremen, Germany

  +faqEntry('Something')
    p
      | Brownie tootsie roll dessert. Sweet roll ice cream toffee ice cream cake brownie cake apple pie. Dragée powder cake sweet roll fruitcake toffee cupcake tootsie roll chocolate.
    p
      | Apple pie cotton candy candy canes. Sweet gummi bears pie toffee. Sweet chocolate bar oat cake unerdwear.com gingerbread.
    p
      | Donut candy applicake jelly-o cheesecake sugar plum wafer. Macaroon unerdwear.com lollipop candy liquorice liquorice topping sugar plum. Jelly muffin chupa chups icing caramels caramels.

  +faqEntry('Something')
    p
      | Brownie tootsie roll dessert. Sweet roll ice cream toffee ice cream cake brownie cake apple pie. Dragée powder cake sweet roll fruitcake toffee cupcake tootsie roll chocolate.
    p
      | Apple pie cotton candy candy canes. Sweet gummi bears pie toffee. Sweet chocolate bar oat cake unerdwear.com gingerbread.
    p
      | Donut candy applicake jelly-o cheesecake sugar plum wafer. Macaroon unerdwear.com lollipop candy liquorice liquorice topping sugar plum. Jelly muffin chupa chups icing caramels caramels.

  +faqEntry('Something')
    p
      | Brownie tootsie roll dessert. Sweet roll ice cream toffee ice cream cake brownie cake apple pie. Dragée powder cake sweet roll fruitcake toffee cupcake tootsie roll chocolate.
    p
      | Apple pie cotton candy candy canes. Sweet gummi bears pie toffee. Sweet chocolate bar oat cake unerdwear.com gingerbread.
    p
      | Donut candy applicake jelly-o cheesecake sugar plum wafer. Macaroon unerdwear.com lollipop candy liquorice liquorice topping sugar plum. Jelly muffin chupa chups icing caramels caramels.

  +faqEntry('Something')
    p
      | Brownie tootsie roll dessert. Sweet roll ice cream toffee ice cream cake brownie cake apple pie. Dragée powder cake sweet roll fruitcake toffee cupcake tootsie roll chocolate.
    p
      | Apple pie cotton candy candy canes. Sweet gummi bears pie toffee. Sweet chocolate bar oat cake unerdwear.com gingerbread.
    p
      | Donut candy applicake jelly-o cheesecake sugar plum wafer. Macaroon unerdwear.com lollipop candy liquorice liquorice topping sugar plum. Jelly muffin chupa chups icing caramels caramels.

  +faqEntry('Something')
    p
      | Brownie tootsie roll dessert. Sweet roll ice cream toffee ice cream cake brownie cake apple pie. Dragée powder cake sweet roll fruitcake toffee cupcake tootsie roll chocolate.
    p
      | Apple pie cotton candy candy canes. Sweet gummi bears pie toffee. Sweet chocolate bar oat cake unerdwear.com gingerbread.
    p
      | Donut candy applicake jelly-o cheesecake sugar plum wafer. Macaroon unerdwear.com lollipop candy liquorice liquorice topping sugar plum. Jelly muffin chupa chups icing caramels caramels.
