.footer
  p.text-center
    span.fa.fa-code
    | &nbsp; with &nbsp;
    span.fa.fa-heart
    | &nbsp; by &nbsp;
    a(href="https://github.com/dkundel") Dominik
    | &nbsp;and the jacobsHack! team.
