footer
  p.text-center.jh-footer-logo
    img(src="images/jacobsHack_hq_white_notext.png", alt="jacobsHack!")
  p.text-center
    span.fa.fa-code.fa-lg
    | &nbsp; with &nbsp;
    span.fa.fa-heart.fa-lg
    | &nbsp; by &nbsp;
    a(href="https://github.com/dkundel") Dominik
    | &nbsp;and the jacobsHack! team.
    
a#mlh-trust-badge(style='position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000', href='https://mlh.io/?utm_campaign=Trust%20Badge', target='_blank')
  img(src='https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png', alt='MLH Official - Fall 2015', style='width:100%;')