mixin jacobsHack()
  span.jacobsHackText
    | jacobs
    em Hack!

.footer
  p.text-center
    span.fa.fa-code.fa-lg
    | &nbsp; with &nbsp;
    span.fa.fa-heart.fa-lg
    | &nbsp; by &nbsp;
    a(href="https://github.com/dkundel") Dominik
    | &nbsp;and the jacobsHack! team.
  p.text-center
    strong Platinum Sponsor:
  p.text-center
    a(href="https://google.com", target="_blank")
      img.sponsor-logo(src="/images/sponsors/google.png")
