.footer
  p.text-center
    span.fa.fa-code.fa-lg
    | &nbsp; with &nbsp;
    span.fa.fa-heart.fa-lg
    | &nbsp; by &nbsp;
    a(href="https://github.com/dkundel") Dominik
    | &nbsp;and the jacobsHack! team.
