.fullscreen-background
  .img1
  .img2
  .img3
  .img4
  .img5
.container-fluid
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center
      p.text-center
        img.img-responsive(src="images/jacobshack-hq-lines.png", alt="jacobsHack!")
      .announcement-block
        h2 Spring 2015
        hr
        h3 Coming Soon!
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center.header-buttons
      a.btn.btn-lg.btn-white(href="https://fb.com/jacobshack.bremen")
        i.fa.fa-lg.fa-facebook
        span.social-addon /jacobshack.bremen
      a.btn.btn-lg.btn-white(href="https://2014f.jacobshack.com")
        | Check Out Our Last Edition
      a.btn.btn-lg.btn-white(href="https://mailchimp.com")
        | Subscribe For Updates
      a.btn.btn-lg.btn-white(href="https://twitter.com/jacobs_hack")
        i.fa.fa-lg.fa-twitter
        span.social-addon @jacobs_hack
