.row
  .col-xs-12
    h1#schedule Event Schedule

    p.lead.text-center
      | This is a preliminary schedule and it's subject to change but it might help you planning your travels :)

.row
  .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12
    h3 October 4th, 2014
    .table-responsive
      table.table
        tr
          td 09:00 
          td Reception
        tr
          td 10:30
          td Welcome
        tr
          td 11:30
          td Start Hacking
        tr
          td 13:00
          td Lunch
        tr
          td 14:00 - 18:00 
          td Tech Talks (API)
        tr
          td 19:00
          td Dinner 

    h3 October 5th, 2014
    .table-responsive
      table.table
        tr
          td 00:00
          td Midnight Snacks
        tr
          td 07:00
          td Breakfast
        tr
          td 11:30
          td End of Hacking
        tr
          td 12:00
          td Lunch
        tr
          td 13:00 - 16:00 
          td Final Presentations
        tr
          td 16:30
          td Winners Announcement
        tr
          td 17:00
          td The End 
