.row
  .col-xs-12
    h1#sponsoring.section-title
      | Sponsoring
      span Sponsor jacobsHack!
    p.lead.
      jacobsHack! gives companies the opportunity to get in touch with some of the most 
      talented university students in Europe and around the world.
    p.lead
      | You can find our sponsorship packages 
      a(href="/data/sponsor_jacobshack_2015.pdf") here. &nbsp;
      | If you are interested or have any questions feel 
      | free to contact us at 
      a(href="mailto:sponsor@jacobshack.com", alt="sponsor@jacobshack.com") sponsor@jacobshack.com
    .row
      .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0
        p.lead.text-center
          a(href="https://google.com/", target="_blank")
            img.img-responsive(src="images/sponsoring/google.png")
      .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0
        p.lead.text-center
          a(href="https://microsoft.com/", target="_blank")
            img.img-responsive(src="images/sponsoring/microsoft.png")
      .col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0
        p.lead.text-center
          a(href="https://sap.com/", target="_blank")
            img.img-responsive(src="images/sponsoring/sap.png")
    .row
      .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.col-md-2.col-md-offset-5
        p.lead.text-center
          a(href="https://cliqz.com/", target="_blank")
            img.img-responsive(src="images/sponsoring/cliqz.png")
    .row
      .col-xs-12.text-center
        h1#partners.subheading Partners
    .row
      .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-1.col-lg-3.col-lg-offset-3
        p.lead.text-center.partner-entry
          a(href="https://mlh.io/", target="_blank")
            img(src="images/sponsoring/mlh-logo.png")
      .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-1.col-lg-3.col-lg-offset-0
        p.lead.text-center.partner-entry
          a(href="https://jacobs-university.de/", target="_blank")
            img(src="images/sponsoring/jacobs-logo.png")
      .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4
        p.lead.text-center.partner-entry#careerloftLogo
          a(href="https://careerloft.de/", target="_blank")
            img(src="images/sponsoring/careerloft.jpg")
      
      
    