.row
  .col-xs-12
    h1#sponsoring Sponsoring
    p.lead.
      jacobsHack! gives companies the opportunity to get in touch with some of the most 
      talented university students in Europe and around the world.
    p.lead
      | We are currently working on preparing the sponsor packages. In the meantime feel 
      | free to contact us at 
      a(href="mailto:sponsor@jacobshack.com", alt="sponsor@jacobshack.com") sponsor@jacobshack.com
      
    