mixin jacobsHack()
  span.jacobsHackText
    | jacobs
    em Hack!

.row
  .col-xs-12
    h1#sponsors Sponsors
    p.lead To be announced...

    p.text-center
      | If you are interested in sponsoring&nbsp;
      +jacobsHack()
      | &nbsp;just send us an email to get more information.
    p.text-center
      a(href="mailto:sponsor@jacobshack.com").btn.btn-jub.btn-sm sponsor@jacobshack.com
