.row
  .col-xs-12
    h1#team Team

    p
      | The event is organized by the club leaders of
      | the Computer Science Club at Jacobs University Bremen.
      | Feel free to contact us if you have any questions.

    address.text-center
      strong jacobsHack
      br
      | CampusLife Department <br/>
      | Jacobs University Bremen <br/>
      | 28759 Bremen, Germany <br/>
      | Email: &nbsp;
      a(href="team@jacobshack.com") team@jacobshack.com
