mixin githubButton(profile)
  a.btn.btn-round-social.btn-github(href="https://github.com/"+profile, target="_blank")
    i.fa.fa-lg.fa-github

mixin twitterButton(profile)
  a.btn.btn-round-social.btn-twitter(href="https://twitter.com/"+profile, target="_blank")
    i.fa.fa-lg.fa-twitter
    
mixin emailButton(email)
  a.btn.btn-round-social.btn-mail(href="mailto:"+email, target="_blank")
    i.fa.fa-lg.fa-inbox

mixin teamEntry(name, role, image)
  .team-member-wrapper
    .team-member
      .team-member-header
        img.img-responsive.header-blur(src=image)
      img.img-circle.team-member-img(src=image)
      .team-member-details
        p.team-member-name= name
        p.team-member-role= role
        if block
          .team-member-contact
            block
     
    
h1#team.section-title
  | The Team
  span Meet the Organizers
p.lead.
  jacobsHack! is organized by a diverse and cross-disciplinary team of students 
  and alumni of Jacobs University Bremen. Feel free to contact us if you have 
  and questions or issues regarding the event!
.team-entries
  +teamEntry("Aulon", "Main-Organizer", "/images/team/aulon.jpg")
    +emailButton("aulon@jacobshack.com")
  +teamEntry("Kamila", "Main-Organizer", "/images/team/kamila.jpg")
    +emailButton("kamila@jacobshack.com")
  +teamEntry("Dominik", "Founder | Advisor", "/images/team/dominik.jpg")
    +githubButton("dkundel")
    +emailButton("dominik@jacobshack.com")
    +twitterButton("dkundel")
  +teamEntry("Naomi", "Co-Founder | Advisor", "/images/team/naomi.jpg")
    +githubButton("npentrel")
    +emailButton("naomi@jacobshack.com")
    +twitterButton("naomi_pen")
