.fullsize-image-header
  img(src="/images/jacobsHack_hq_inverted.png").centered-logo
  img(src="/images/jacobsHack_text_white.png").centered-logo.plain
  h1.edition-title Fall 2014
  a(href="javascript:void(0);", disabled="disabled").btn.btn-jub.btn-lg Registration starting soon

header.attached-top
  a(href="#").noHighlight
    img(src="/images/jacobsHack_logo_hq.png").logoHeader
    img(src="/images/jacobsHack_text_hq.png").logoHeader

  ul.nav.nav-pills.pull-right
    li#aboutLink
      a(href="#about") About
    li#sponsorsLink
      a(href="#sponsors") Sponsors
    li#faqLink
      a(href="#faq") FAQ


