.fullsize-image-header
  img(src="/images/jacobsHack_hq_inverted.png").centered-logo
  img(src="/images/jacobsHack_text_white.png").centered-logo.plain
  h1.edition-title Fall 2014
  h3.edition-title October 4-5, 2014
  p.text-center
    | Registration open until September 15, 2014.
  a(href="https://my.jacobshack.com/").btn.btn-jub.btn-lg Apply for jacobsHack!

header.attached-top
  a(href="#").noHighlight
    img(src="/images/jacobsHack_logo_hq.png").logoHeader
    img(src="/images/jacobsHack_text_hq.png").logoHeader

  ul.nav.nav-pills.pull-right
    li#applyLink
      a(href="https://my.jacobshack.com/") Portal
    li#aboutLink
      a(href="#about") About
    li#sponsorsLink
      a(href="#sponsors") Sponsors
    li#faqLink
      a(href="#faq") FAQ
    li#teamLink
      a(href="#team") Team


